__pycache__/
.venv/
.vscode/
eegdata/
best_models/
clean_data01-120Hz/
inprogress/
inference22kHz540/
TrainResult/
TrainResult16kHz/
TrainResult22kHz_540/
TrainResult22kHz_679/
preprocess/olds/
wav2vec2_finetuned/