__pycache__/
preprocess/__pycache__/
.venv/
.vscode/
eegdata/
eegdata18/
eegdata_rawsplits/
eegdata4/
eegdata4_rawsplits/
best_models/
clean_data01-120Hz/
clean_data025-120Hz1000sr/
inference22kHz540/
inference22kHz_GL32its/
inference22kHz_GL64its/
inference22kHz_3subs1618/
inference22kHz_4subs_new/
inference22kHz_4subs_last/subj15/
TrainResult22kHz_4subs16171819/
TrainResult22kHz_3subs1618/
TrainResult22kHz_FT_3subs1618/subj16-17-18/imagined_speech/savemodel/
TrainResult22kHz_4subs1518/subj15-16-17-18/imagined_speech/savemodel/
TrainResult22kHz_710_wav2vecFTfrom384/subj18/imagined_speech/savemodel/
TrainResult16kHz/subj18/imagined_speech/savemodel/
TrainResult22kHz_FT_3subs1618/subj16-17-18/imagined_speech/logs/
TrainResult22kHz_4subs1518/subj15-16-17-18/imagined_speech/logs/
TrainResult22kHz_710_wav2vecFTfrom384/subj18/imagined_speech/logs/
TrainResult16kHz/subj18/imagined_speech/logs/
preprocess/olds/
wav2vec2_finetuned/
extended_infomaxcomps025-120Hz/
toignore/
plots/