clean_data/
addtoTEXT/
Oldplots/
plotsOLD/
models/csp_2s_74classes/
NeuroTalk-main/
somecode/
models/__pycache__/
models/checkpoints/
inference_outputsGAN/
inference_outputs_trans_riem16/
inference_outputs_transCSP16/
inference_wav/
supportcode/
resampled80002s/
trainoutput_GAN/
trainoutput_GAN_CSP/
trainoutput_GAN_noD/
trainoutput_GAN_hifi/
trainoutput_transCSP/
trainoutput_trans_riem_ctc205/
trainoutput_trans/
eegdataCSPmanual/
eegdata/
clean_data40Hz/
extended_infomaxcomps40Hz/
clean_data120Hz/
clean_data01-120Hz/
eegdata_CSPmne/
eegdata_CSPmneSHORT/
eegdata_CSPmneSHORT2conds/
new_plots/
TrainResult/